doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/vendor/shoestring-css/shoestring.css')

  body

    script(type='text/x-handlebars')
      nav
        | {{#link-to 'index'}} Home{{/link-to}}
        | {{#link-to 'gist' 1}} Gist 1{{/link-to}}
        | {{#link-to 'gist' 2}} Gist 2{{/link-to}}
        | {{#link-to 'gist' 3}} Gist 3{{/link-to}}

      | {{outlet}}

    script(type='text/x-handlebars' id='index')
      .left
        h3 Input

        | {{textarea value=sassInput}}

        | {{view Ember.Select content=outputStyles value=selectedOutputStyle}}

        <button {{action 'compile'}}> Go</button>

      .right
        h3 Output

        pre
          code
            | {{css}}
        p

    script(type='text/x-handlebars' id='gist')
      .left
        h3 Sass

        pre
          code
            | {{sass}}

      .right
        h3 CSS

        pre
          code
            | {{css}}

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/handlebars/handlebars.min.js')
    script(src='/vendor/ember/ember.js')
    script(src='/vendor/ember-data/ember-data.js')
    script(src='/js/app.js')

